
*.vsidx
/Software/TantoBastu_AutoBokning/obj/Debug
/Software/TantoBastu_AutoBokning/obj/Release
/Software/TantoBastu_AutoBokning/.vs/TantoBastu_AutoBokning/CopilotIndices
/Software/TantoBastu_AutoBokning/bin
/Software/TantoBastu_AutoBokning/.vs/TantoBastu_AutoBokning/CopilotIndices
