<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TantoBastu_AutoBokning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TantoBastu_AutoBokning.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTimeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServerEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerEmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="SendEmailAfterBooking" serializeAs="String">
                <value>False</value>
            </setting>
        </TantoBastu_AutoBokning.Properties.Settings>
    </userSettings>
</configuration>